* {
    padding: 0;
    margin: 0;
    border: 0;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}


nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
    font-family: inherit;
}


input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
input, p{
    font-family: Pragmatica;
    font-weight: 400;
}
body{
    background-color: #131313;
    color: #ffffff;
}


/* стили первого блока(главного)*/
.main{
    height: 100vh;
}
.main header{
    padding-top: 24px;
}
.main__body{
    margin-left: 10%;
}
.main__content{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__left{
    width: 30%;
}
.main__label{
    font-size: 57px;
}
.main__text{
    margin-top: 64px;
    font-size: 30px;
}
@media (max-width: 800px){
    .main {
        display: none;
    }
}



/* стили первого блока мобилки(главного)*/
.main__mobile{
    display: none;
    min-height: 100vh;
    padding-left: 10px;
    flex-direction: column;
}
.main__mobile header{
    padding-top: 24px;
}
.main__mobile header img{

}
@media (max-width: 800px){
    .main__mobile {
        display: flex;
    }
    .main__label{
        margin-top: 30px;
    }
}



/* стили блока о нас*/
.about{
    background-color: #F4F3F3;
    padding: 83px 0;
}
.about__wrapper{
    margin: 0 10%;
    color: #000000;
}
.about__text1{
    font-size: 34px;
}

.about__block{
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    justify-content: space-between;
}
.about__text2{
    font-size: 30px;
    width: 45%;
}
@media (max-width: 800px){
    .about{
        width: 100%;
    }
    .about__wrapper{
        margin: 0 10px;
    }
    .about__text1{
        font-size: 18px;
    }
    .about__block{
        flex-direction: column;
        margin-top: 0px;
    }
    .about__text2{
        margin-top: 39px;
        font-size: 18px;
        width: 100%;
    }
}




/* стили блока про сервисы*/
.services__wrapper{
    margin: 83px 10%;
    display: flex;
    flex-direction: row;
}
.services__label{
    font-size: 90px;
    position: relative;
    height: 90px;
}
.services__left{
    width: 0%;
    display: flex;
    flex-direction: row;
}
.services__left img{
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}
.services__title-left{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.services__block{
    margin-bottom: 45px;
    width: 50%;
}
.services__name{
    font-size: 50px;
}
.services__right{
    width: 100%;
    height: 400px; /* высота нашего блока */
    background: transparent; /* цвет фона, белый */
    border: 0px solid #C1C1C1; /* размер и цвет границы блока */

    overflow-y: scroll; /* прокрутка по вертикали */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


.services__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.services__big{
    font-size: 50px;
}
.services__small{
    margin-left: 5px;
    font-size: 25px;
    color: #898989;
}
.services__text{
    margin-top: 25px;
    font-size: 25px;
}
@media (max-width: 800px){
    .services__left img{
        display: none;
    }
    .services__wrapper{
        margin: 83px 10px;
        flex-direction: column;
    }
    .services__right{
        width: 100%;
        height: auto; /* высота нашего блока */
        overflow-y: initial; /* прокрутка по вертикали */
        align-items: flex-start;
        flex-direction: column;
    }
    .services__title{
        flex-direction: column-reverse;
    }
    .services__right{
        margin-top: 30px;
    }
    .services__block{
        width: 100%;
        margin: 25px 0;
    }
    .services__text{
        font-size: 20px;
    }
    .services__name{
        font-size: 40px;
    }
}
.services__right::-webkit-scrollbar {
    width: 0;
}




/* стили блока про прайс и услуги*/
.basic-services{

}

/* стили блока про формат*/
.format{
    background-color: #FBFBF9;
    color: #000000;
}

.format__big{
    font-size: 62px;
}
.format__left{
    margin: 34px 0 60px 10%;
    display: flex;
    flex-direction: row;
    width: 50%;
}
.format__main-label{
    font-weight: 500;
    font-size: 59px;
    padding: 83px 0 38px 10%;
}
.format__right{
    margin: 34px 10% 60px 0;
    width: 50%;
}
.format__small{
    margin-left: 5px;
    font-size: 25px;
    color: #898989;
}
.format__wrapper{
    display: flex;
    flex-direction: row;
}
.format__label{

    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 85.5%;
}
.format__text{
    margin-top: 40px;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
}
.format__label-lb{
    display: flex;
    flex-direction: row;
}
.format__label-lb img{
    margin-left: 20px;
    height: 80px;
    margin-top: 70px;

}
.gray{
    background-color: #F2F2F2;
}
.black-gray{
    background-color: #E5E5E5;
}
@media (max-width: 800px){
    .format__label-lb img{
        display: none;

    }
    .format__wrapper{
        flex-direction: column;
        margin: 0 10px;
        padding: 34px 0;
    }
    .format__left{
        margin: 0;
    }
    .format__right{
        margin: 0;
    }
    .format__right{
        margin-top: 20px;
    }
    .format__label{
        font-size: 35px;
    }
    .format__text{
        font-size: 20px;
    }
    .format__right{
        width: 100%;
    }
}






.contact{

}
.contact__wrapper{
    margin: 0 10%;
    padding: 57px 0;
}
.contact__ph-num{
    font-size: 120px;
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-family: Pragmatica;
}
.contact form{

    display: flex;
    flex-direction: row;
    margin: 150px 0 56px 0;
}
.pole{
    margin-right: 20px;
}
.contact button{
    width: 259px;
    height: 60px;
    background: #DFDFDF;
    border-radius: 20px;
    font-size: 25px;
}
.contact__police{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #A3A3A3;
}
.contact__checkbox{
    display: flex;
    flex-direction: row;
}
.contact__agree{
    margin-left: 16px;
}
input[type="checkbox"] {
    background-color: #131313;
    height: 22px;
    width: 22px;
}
.contact__confid{
    margin-left: 60px;
}
@media (max-width: 800px){
    .contact form{
        flex-direction: column;
        width: 100%;
        margin: 50px 0 56px 0;

    }
    .contact .form{
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
        margin-top: 20px;
    }
    .contact__wrapper{
        margin: 0 10px;
    }
    .contact button{
        margin-top: 25px;
    }
    input[type="checkbox"] {
        background-color: #131313;
        height: 30px;
        width: 30px;
    }
    .contact .pole{
        width: 100%;
    }
    .contact__police{
        flex-direction: column;
    }
    .contact__confid{
        margin: 15px 0 0 0;
    }
    .contact__ph-num{
        font-size: 30px;
    }
}



/*стили блока ОСНОВНЫЕ УСЛУГИ*/
.basic__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}
.basic__row::-webkit-scrollbar {
    width: 0;
}
.basic__wrapper{
    margin: 82px 10%;
}
.basic__label{
    font-size: 55px;
}
.basic__block{
    margin-top: 50px;
    background-color: #000000;
    padding: 40px;
    width: 380px;
    margin-right: 20px;
}
.basic__name{
    font-size: 25px;
    font-weight: 500;
}
.basic__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.basic__price{
    white-space: nowrap;
}
.basic__price .basic__text{

    font-size: 20px;
}
.basic__text{
    margin-top: 18px;
    font-size: 15px;
    line-height: 125%;
}
@media (max-width: 800px){
    .basic__row{
        flex-direction: column;
        overflow-x: initial;
    }
    .basic__wrapper{
        margin: 82px 10px;
    }
    .basic__block{
        width: 100%;
    }
}





.footer{
    color: #000000;
    background-color: #E5E5E5;
    padding: 83px 0;
}
.footer__wrapper{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__copyright{

}
.footer video{
    margin: 30px 0 21px 0;
}
.footer__label{
    margin-bottom: 46px;
    font-size: 21px;
    color: #808080;
}
.footer__text{
    font-size: 24px;
    margin-top: 10px;
}
.footer__img{
    margin-top: 56px;
}
.footer__label{
    margin-top: 70px;
}
@media (max-width: 800px){
    .footer__wrapper{
        margin: 0 10px;
        flex-direction: column;
    }
    .footer__label{
        margin-top: 30px;
    }
}